:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* навігація сайту */

.logo {
  color: var(--accent-color);
}

.logo-nav:hover,
.logo-nav:focus {
  color: var(--accent-color);
}

.logo-nav {
  color: #000000;
}

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.address .link {
  color: var(--primary-text-color);
}

.address a:hover,
.address a:focus {
  color: var(--accent-color);
}

/* секція герой */

.hero-title {
  color: var(--primary-white-color);
  background-color: #3f3939;
}

.button {
  background-color: #f5f4fa;
  color: var(--primary-text-color);
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* секція */

.section-title {
  color: var(--title-text-color);
}

/* переваги */

.advantages .title {
  color: var(--title-text-color);
}

/* команда */
.team .title {
  color: var(--title-text-color);
}

/* footer */

.footer {
  background-color: #798b56;
  color: var(--primary-white-color);
}

.logo-footer {
  color: var(--primary-white-color);
}

.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}

.footer .link {
  color: var(--primary-white-color);
}

/* секція напрямки діяльності*/
